<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>vinyl shuffles</h1>
    <p>Welcome to vinyl shuffles where you can borrow vinyls from other when you cant find it anywhere
    </p>
</body>

</html>